#wpcontent {
    padding-left: 0 !important;
    position: relative
}

@media (max-width: 600px) {
    #wpcontent {
        padding-top: 46px
    }
}

@media (max-width: 600px) {
    #wpbody {
        padding-top: 0
    }
}

#file-upload-types-header {
    border-top: 3px solid #FF982D;
    padding: 20px
}

#file-upload-types-header img {
    display: block;
    margin: 0;
    max-width: 242px
}

@media (max-width: 782px) {
    #file-upload-types-header img {
        max-width: 200px
    }
}

#file-upload-types {
    margin: 0
}

#file-upload-types .file-upload-types-page-title {
    background-color: #fff;
    font-size: 14px;
    margin: 0 0 20px 0;
    padding: 0 20px
}

#file-upload-types .file-upload-types-page-title h3 {
    box-shadow: none;
    color: #666;
    margin-right: 30px;
    padding: 20px 0 18px 0;
    text-decoration: none
}

