$primary-color: #fff;
$secondary-color: #e17730;
$border-color: #ccd0d4;

#wpcontent {
    padding-left: 0 !important;
    position: relative
}

@media (max-width: 600px) {
    #wpcontent {
        padding-top: 46px
    }
}

@media (max-width: 600px) {
    #wpbody {
        padding-top: 0
    }
}

#file-upload-types-header {
    border-top: 3px solid #df7739;
    padding: 16px 20px 17px;

	img {
		display: block;
		margin: 0;
		width: 319px;
		height: 75px;
    }
}

#file-upload-types {
    margin: 0;

    .file-upload-types-notice {
		margin-left: 20px;
		margin-right: 20px;
    }

	.file-upload-types-nav {
	    background-color: $primary-color;
	    margin: 0 0 20px 0;
	    padding: 15px 20px;
		display: flex;
		align-items: center;

	    .file-upload-types-nav-title p {
	    	margin: 0;
			font-size: 23px;
			font-weight: 400;
			line-height: 1.3;
			color: #2d3235;
	    }

	    .fie-upload-types-docs {
			margin-left: auto;

			p {
				margin: 0;
				font-size: 14px;
				line-height: 1;
				color: #777;
			}

			p a {
				margin-left: 20px;
			}

			button {
				color:#fff;
				background:#e2772f;
			}

			button:hover,
			button:active,
			button:focus {
				color:#fff;
				background:#658699;
			}
		}
	}

	.file-upload-types-content {
		margin: 0 0 20px 0;
		padding: 0 20px;
		display: flex;

		.file-upload-types-heading {

			h3 {
				margin: 14px 0 10px;
				font-size: 20px;
				font-weight: 700;
				color: #444;
			}

			p {
				margin-top: 0;
				font-size: 14px;
				color: #444;
			}

		}

		.file-upload-types-table {
			padding-right: 30px;

			.before-table {
				display: flex;
				align-items: flex-end;
				margin-bottom: 10px;
			}

			.search-box {
				margin-left: auto;
				padding: 20px 0 15px 40px;
			}

			.search-box input {
				width: 200px;
				padding: 10px 10px 10px 35px;
				line-height: 1;
				color: #777;
				background: #fff url('../images/search-regular.svg') no-repeat 10px 50%;
				background-size: 16px 16px;
				border: 1px solid #ddd;
				border-radius: 4px;
			}

			.search-box input:focus {
				color: #444;
				border: 1px solid #638699;
				box-shadow: 0 0 0 1px #638699;
			}

			.table-container {

				table {
					width: 100%;
					font-family: arial, sans-serif;
					border-collapse: collapse;
					border: 1px solid $border-color;

					img {
						width: 14px;
						height: 14px;
						margin-bottom: -2px;
					}
				}

				tr {
					border-top: 1px solid #e1e1e1;
					border: 1px solid $border-color;
				}

				tr.heading {
					border: none;
				}

				tr.heading td {
					font-size: 14px;
					font-weight: 700;
					background: #7d8992;
					border-color: #7d8992;
					color: #ffffff;
				}

				tr.heading td:first-child {
					border-radius: 4px 0px 0px 0px;
				}

				tr.heading td:last-child {
					border-radius: 0px 4px 0px 0px;
				}

				tr.section td {
					padding: 10px 20px;
					font-size: 11px;
					font-weight: 700;
					text-transform: uppercase;
					color: #444444;
					background: #e7e8e7;
				}

				td {
					text-align: left;
					padding: 15px 20px;
					background: $primary-color;
					max-width: 100px;
					vertical-align: top;
				}

				tr.dropzone {
					padding: 20px;

					.file-upload-types-dropzone {
						background: rgba(241, 241, 241, 1);
						padding: 20px;
						text-align: center;
						border: 1px dashed rgba(220, 220, 222, 1);
						border-radius: 4px;

						p {
							font-size: 14px;
							width: fit-content;
							margin:auto;

							a {
								color: inherit;

								&:active {
									outline: none;
								}
							}
						}
					}
				}

				tr.repetitive-fields {
					display: none;

					td {
						vertical-align: middle;
					}

					td.icons {
						white-space: nowrap;
						text-align: right;
					}
				}

				input {
					padding: 10px;
					font-size: 14px;
					font-weight: 400;
					line-height: 1;
					color: #777777;
					background: #fff;
					border: 1px solid #999999;
					border-radius: 4px;
				}

				input[type="text"] {
					width: 100%;
				}

				input:focus {
					color: #444444;
					background: #fff;
					border: 1px solid #638699;
					box-shadow: 0 0 0 1px #638699;
					outline: none;
				}

				.file-upload-types-table-main {
					border-bottom: 1px solid #fff;
				}

				.file-upload-types-table-main tr.section:nth-of-type(1) {
					border-top: 1px solid #f8f8f8;
				}
			}

			.table-container:nth-of-type(2) table {
				position: relative;
				border: none;
				box-shadow: 0 2px 4px rgba(0,0,0,0.15);
				margin-bottom: -1px;
			}
		}

		.file-upload-types-products {
			min-width: 300px;
			max-width: 300px;

			h3 {
				margin: 15px 0 -5px;
				font-size: 16px;
				color: #444;
			}

			p {
				margin-bottom: 30px;
				font-size: 14px;
				color: #444;
			}

			.file-upload-types-recommended-plugins {

				.plugins-container {

				    .plugin-container {
						float: left;
					}

					.plugin-item {
						border-top: 1px solid #e4e4e4;

						img {
						    float: left;
						    max-width: 70px;
						    height: auto;
						}

						h5 {
						    margin: 0 0 0 90px;
						    font-size: 14px
						}

						p {
						    margin: 0 0 0 90px;
						    color: #777;
						}

						.details {
							padding: 30px 0;
						}
					}

					h5 {
						font-size: 17px;
						font-weight: 700;
					}

					a[target="_blank"] {
					  background: url('../images/external-link-solid.svg') no-repeat 100% 50%;
					  background-size: 16px 16px;
					  padding: 0 21px 0 0;
					}
				}
			}
		}

		@media (max-width: 600px) {
			.file-upload-types-products {
		        display: none;
		    }
		}
	}

	p.file-upload-types-submit {
		padding: 0 20px;
	}

	.file-upload-types-btn.file-upload-types-btn-orange {
		background-color: $secondary-color;
		border-color: $border-color;
		color: $primary-color;
	}

	.file-upload-types-btn.file-upload-types-btn-orange:hover,
	.file-upload-types-btn.file-upload-types-btn-orange:active,
	.file-upload-types-btn.file-upload-types-btn-orange:focus {
	    background-color: #c45e1b;
	    border-color: $border-color;
	}

	.file-upload-types-btn.file-upload-types-btn-orange:focus {
		box-shadow: 0 0 0 1px #fff, 0 0 0 3px #c45e1b;
	}

	.file-upload-types-btn.file-upload-types-btn-blue {
		background-color: #809eb0;
		border-color: $border-color;
		color: $primary-color;
	}

	.file-upload-types-btn.file-upload-types-btn-blue:hover,
	.file-upload-types-btn.file-upload-types-btn-blue:active,
	.file-upload-types-btn.file-upload-types-btn-blue:focus {
	    background-color: #658699;
	    border-color: $border-color;
	}

	.file-upload-types-btn.file-upload-types-btn-blue:focus {
		box-shadow: 0 0 0 1px #fff, 0 0 0 3px #658699;
	}
}

.file-upload-types-btn {
    border: 0;
    border-radius: 3px;
    cursor: pointer;
    margin: 0;
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    text-shadow: none;
    box-shadow: none;
    outline: none;
}

.file-upload-types-btn.file-upload-types-btn-md {
	font-size: 13px;
	font-weight: 600;
	padding: 8px 12px;
	min-height: 35px;
}

.file-upload-types-info {
	position: relative;
	display: inline-block;
	margin: 0 0 -3px 5px;

 	.tooltiptext {
		visibility: hidden;
		width: 150px;
		background: #21282c;
		color: #fff;
		text-align: center;
		text-transform: none;
		border-radius: 4px;
		padding: 10px;
		position: absolute;
		z-index: 1;
		margin: -19px 0 0 10px;
		font-size: 13px;
		font-weight: 400;
		box-shadow: 0 5px 15px rgba(0, 0, 0, .2);
	}

	.tooltiptext::after{
		position: absolute;
		top: 23px;
		left: -5px;
		content: '';
		width: 0;
		height: 0;
		border-right: solid 5px rgba(0,0,0,.8);
		border-bottom: solid 5px transparent;
		border-top: solid 5px transparent;
	}
}

.file-upload-types-info:hover .tooltiptext {
	visibility: visible;
}

.file-upload-types-plus,
.file-upload-types-minus {
	cursor: pointer;
}

.file-upload-types-plus:hover,
.file-upload-types-minus:hover {
	opacity: .75;
}

.file-upload-types-minus {
	margin-left: 5px;
}
